## Banco de dados
DATABASE_URL=postgresql://usuario:senha@localhost:5432/drmusculo

## NextAuth
NEXTAUTH_SECRET=coloque_uma_string_aleatoria
NEXTAUTH_URL=http://localhost:3000

## Cloudinary (ou Supabase Storage)
CLOUDINARY_CLOUD_NAME=sua_cloud
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=sua_api_secret

## Mercado Pago
MP_ACCESS_TOKEN=seu_token_privado
MP_PUBLIC_KEY=sua_chave_publica